/* body css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header css */
#header {
    background-color: #182a6b;

    .navbar-brand img {
        max-width: 100%;
    }

    .navbar-brand span {
        font-size: 35px;
        font-weight: bold;
    }

    .navicon:hover {
        background-color: #607ff2;
    }
}